<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="officebot_sensors">
    <xacro:macro name="officebot_sensors" params="">
        <link name="lidar_link"></link>
        <joint name="base_lidar" type="fixed">
            <origin xyz="-0.0076784611388689208433 -0.014607735477295019644 0.70535953015098928898" rpy="0 0 0"></origin>
            <parent link="base"></parent>
            <child link="lidar_link"></child>
            <axis xyz="0 0 1"></axis>
        </joint>
        <link name="camera_link"></link>
        <joint name="camera_joint" type="fixed">
            <origin xyz="0.088000000000000008771 -0.16320000000000001172 0.66200000000000003286" rpy="3.141592653589793116 0 0"></origin>
            <parent link="base"></parent>
            <child link="camera_link"></child>
            <axis xyz="0 0 1"></axis>
        </joint>
        <link name="camera_link_optical"></link>
        <joint name="camera_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="3.14 0 1.57"></origin>
            <parent link="camera_link"></parent>
            <child link="camera_link_optical"></child>
        </joint>
        <gazebo reference="camera_link_optical">
            <sensor name="camera" type="camera">
                <always_on>true</always_on>
                <visualize>true</visualize>
                <update_rate>30</update_rate>
                <topic>camera/image_raw</topic>
                <gz_frame_id>camera_link_optical</gz_frame_id>
                <camera name="intel_realsense_r200">
                    <horizontal_fov>1.04</horizontal_fov>
                    <image>
                        <width>3840</width>
                        <height>2160</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <intrinsics>
                        <fx>613.52214502</fx>
                        <fy>563.13948541</fy>
                        <cx>283.04846119</cx>
                        <cy>260.43066317</cy>
                    </intrinsics>
                    <distortion>
                        <k1>-0.467652511</k1>
                        <k2>7.24487497</k2>
                        <p1>0.00873816137</p1>
                        <p2>0.0603649760</p2>
                        <k3>-54.7462075</k3>
                    </distortion>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
            </sensor>
        </gazebo>
        <gazebo reference="lidar_link">
            <sensor name="unitree_l2_lidar" type="gpu_lidar">
                <pose relative_to="lidar_link">0 0 0 0 0 0</pose>
                <topic>lidar</topic>
                <ignition_frame_id>lidar_link</ignition_frame_id>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>2000</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.14159265359</min_angle>
                            <max_angle>3.14159265359</max_angle>
                        </horizontal>
                        <vertical>
                            <samples>32</samples>
                            <resolution>1</resolution>
                            <min_angle>-0.261799</min_angle>
                            <max_angle>0.261799</max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>0.1</min>
                        <max>40.0</max>
                        <resolution>0.01</resolution>
                    </range>
                </ray>
                <always_on>1</always_on>
                <visualize>true</visualize>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>
